@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.dm-sans-<uniquifier> {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  *{
    margin: 0;
    padding: 0;
  }
  
  html{
    background: url('../img/bg.jpg') no-repeat center;
  }

  body{
    font-family: 'DM Sans' 
  }